body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    nav.filetree-sidebar {
        
        h1::before {
          content: " ";
          display: block;
          width: 100%;
          height: 3em;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(../favicon.svg);
          background-position: center;
        }
  }

}
